# dependencies
node_modules/

# build
dist/
build/
.tmp/
release/
packages/
*.zip

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store

# env
.env
.env.local

# vscode opcional
.vscode/*
!.vscode/settings.json